/* palette

brown
rgb(85, 71, 65)

orange
rgb(194, 98, 37)

yellow
rgb(205, 161, 41)

blue
rgb(0, 46, 94)

*/

body {
	/*background: url("img/highway_background_edit.jpg") no-repeat fixed center;*/
	background-image: url("img/highway_background_edit.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#top-nav .nav-menu {
	background-color:rgba(0,0,0,0);
}

#content {
	background-color:rgba(255,255,255,.9);
	padding:20px;
	margin-top:5px;
}

#exhibit-pages.full {
	border: none;
	margin-top:10px;

}

#site-title {
	background-color:rgba(237,237,237,.6);
	padding:10px;
	margin-bottom:0px;
}
#site-title a {
	color: rgb(194, 98, 37);
}

#search-container {
	/*background-color:rgba(255,255,255,.9);	*/
	padding:10px;
	margin-bottom:0px;
	margin-top:19px;
	padding:17px;
}

footer{
	background-color:rgba(255,255,255,.9);
	padding: 20px 20px 5px 20px;
	margin-top:5px;
	border: none;
	margin-bottom:20px;
}

#wrap {
	max-width: 90%;
}

#bottom-nav {
	display:none;
}

#top-nav .nav-menu .nav-item {
	background-color: #ededed;
}

#top-nav .nav-menu .active a {
	/*color: rgb(0, 46, 94);*/
	background-color:rgb(0, 46, 94);
}