/* palette

brown
rgb(85, 71, 65)

orange
rgb(194, 98, 37)

yellow
rgb(205, 161, 41)

blue
rgb(0, 46, 94)

*/

body {
	/*background: url("img/highway_background_edit.jpg") no-repeat fixed center;*/
	background-image: url("img/highway_background_edit.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#top-nav .nav-menu {
	background-color:rgba(0,0,0,0);
}

#content {
	background-color:rgba(255,255,255,.9);
	padding:20px;
	margin-top:5px;
}

#exhibit-pages.full {
	border: none;
	margin-top:10px;

}

#site-title {
	background-color:rgba(237,237,237,.6);
	padding:10px;
	margin-bottom:0px;
	margin-top:5px;
}
#site-title a {
	color: rgb(194, 98, 37);
}

#search-container {
	/*background-color:rgba(255,255,255,.9);	*/
	padding:10px;
	margin-bottom:0px;
	margin-top:3px;
	padding:17px;
}

footer{
	background-color:rgba(255,255,255,.9);
	padding: 20px 20px 5px 20px;
	margin-top:5px;
	border: none;
	margin-bottom:20px;
}

#wrap {
	max-width: 80%;
}

#bottom-nav {
	display:none;
}

#top-nav .nav-menu .nav-item {
	background-color: #ededed;
}

#top-nav .nav-menu .active a {
	/*color: rgb(0, 46, 94);*/
	background-color:rgb(0, 46, 94);
}

#exhibit-page-navigation .current-page {
	background-color: transparent;
	color: rgb(0, 46, 94);
}

#exhibit-page-navigation #exhibit-nav-next, #exhibit-page-navigation #exhibit-nav-prev {
	background-color: #ededed;
	text-align: center;
	padding:10px;
}

#exhibit-page-navigation #exhibit-nav-next a, #exhibit-page-navigation #exhibit-nav-prev a {
	color:rgb(0, 46, 94);
}

.exhibits.show #exhibit-page-navigation #exhibit-nav-next, .exhibits.show #exhibit-page-navigation #exhibit-nav-prev {
	width:33%;
}

.exhibits.show #exhibit-page-navigation #exhibit-nav-up {
	width:33%;
	clear:none;
	background-color: rgb(205, 161, 41);
	color:white;
	padding-bottom:5px;
}

.exhibits.show #exhibit-page-navigation #exhibit-nav-up span {
	color:white;
}

#custom-header {
	background-color: rgb(61,61,61);
	margin-top:5px;
	margin-bottom:0px;
}

#exhibit-pages.full #secondary-nav .exhibit-title {
	color:rgb(205, 161, 41);
}

#exhibit-pages.full #secondary-nav .exhibit-title:hover {
	color:rgb(0, 46, 94);
}