body.neatline.show div#neatline-map, body.neatline.fullscreen div#neatline-map {
	width: 100%;
}

body.neatline.show div#neatline-narrative, body.neatline.fullscreen div#neatline-narrative {
	float:left;
	width:100%;	
}

.exhibit-block.layout-neatline iframe {
	height: 1000px;
}

#neatline #simile {
	width:50%;
	height:40%;
}

#simile .timeline-event-label {
	color:none !important;
}